body {
    background: url("../images/fundo-suporte.jpg");
    background-size: cover;
  margin: 0;
}


#formulario {
    margin-top: 10%;
}

.container {
    background-color: rgb(230, 230, 230);
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
}

.botao {
    border-radius: 20px;
    width: 100%;
    background-color:rgb(9, 186, 23);
}

input:invalid {
    border-width: 2px;
    border-color: red !important;
}

input:valid {
    border-width: 2px;
    border-color: green !important;
}

label {
    color: rgb(0, 0, 0);
}


#img1 {
    width: 50%;
               height: 50%;
               border-radius: 20px;
               display: flex;
               margin-left: 25%;
               display: none;
               margin-bottom: 10px;
}
